<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Angular.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js"></script>
</head>

<body ng-app="myDashboard" ng-controller="myCtrl">
    <div id="wrapper">
    	<!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Aakash</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i> Spaces
                        <select  ng-model="spaceFirst" ng-options="itr.Name for itr in spaceJson">
                            <option value="">Choose Space</option>
                        </select>
                    </a>
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i> Organizations
                        <select  ng-model="orgFirst" ng-options="itr.Name for itr in orgJson" ng-change="listSpaces(orgFirst.Name, orgFirst.Guid)"></select>
                    </a>
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Applications</a>
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Services</a>
                        </li>                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-8">
                    
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Application
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>URL</th>
                                                    <th>STATE</th>
                                                    <th>INSTANCES</th>
                                                    <th>MEMORY</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="apps in appJson">
                                                    <td>{{ apps.Name }}</td>
                                                    <td><span ng-repeat="appURL in apps.Urls">{{appURL}}</span></td>
                                                    <td>{{ apps.State }}</td>
                                                    <td>{{ apps.Instances }}</td>
                                                    <td>{{ apps.Memory }} MB</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.col-lg-4 (nested) -->
                                <div class="col-lg-8">
                                    <div id="morris-bar-chart"></div>
                                </div>
                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

        <!-- jQuery -->
    	<script src="../bower_components/jquery/dist/jquery.min.js"></script>

    	<!-- Bootstrap Core JavaScript -->
    	<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    	<!-- Metis Menu Plugin JavaScript -->
    	<script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

    	<!-- Morris Charts JavaScript -->
    	<script src="../bower_components/raphael/raphael-min.js"></script>
    	<script src="../bower_components/morrisjs/morris.min.js"></script>
    	<script src="../js/morris-data.js"></script>

    	<!-- Custom Theme JavaScript -->
    	<script src="../dist/js/sb-admin-2.js"></script>

        <script>
            angular.module('myDashboard', [])
            .controller('myCtrl', ['$scope','$location', '$window', '$http', function($scope,$location,$window,$http) {

                var sessionid = $window.sessionStorage.sessionid;
                console.log(sessionid);

                $scope.init  =  function() {
                    var encodedString = '{"sessionid": '+sessionid+',"Organization": {"Name":"" ,"Guid":"" }}';
                    $http({
                        method: 'POST',
                        url: "http://localhost:8081/listallorganizations",
                        data: encodedString,
                        headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                    })
                    .success(function(data, status, headers, config) {
                        var orgJson = data;
                        $scope.orgJson = orgJson;
                        $scope["orgFirst"] = orgJson[0];
                        console.log($scope["orgFirst"]);
                        $scope.listspacesinit(angular.fromJson(orgJson[0]).Name,angular.fromJson(orgJson[0]).Guid);
                    })
                    .error(function(data, status, headers, config) {
                        $scope.errorMsg = data;
                        console.log(data);
                    })
                }

                $scope.listspacesinit =  function(orgName,orguid) {
                    $scope.orgName  = orgName;
                    $scope.orguid  =  orguid;
                    var enString = '{"sessionid": '+sessionid+',"Organization": {"Name":"'+orgName+'" ,"Guid":"'+orguid+'" }}';

                    $http({
                        method: 'POST',
                        url: "http://localhost:8081/listallspaces",
                        data: enString,
                        headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                    })
                    .success(function(data, status, headers, config) {
                        var spaceJson = data;
                        $scope.spaceJson = spaceJson;
                        $scope["spaceFirst"] = $scope.spaceJson[0];
                        console.log($scope["spaceFirst"]);
                        $scope.listappsinit(orgName, orguid, angular.fromJson(spaceJson[0]).Name, angular.fromJson(spaceJson[0]).Guid);
                    })
                    .error(function(data, status, headers, config) {
                        $scope.errorMsg = data;
                    })
                }

                $scope.listappsinit =  function(orgName, orggUID, spaceName, spacegUID) {
                    var enString = '{"sessionid": '+sessionid+',"Organization": {"Name":"'+orgName+'" ,"Guid":"'+orggUID+'" },"Space": {"Name":"'+spaceName+'" ,"Guid":"'+spacegUID+'" }}';

                    $http({
                        method: 'POST',
                        url: "http://localhost:8081/listallapps",
                        data: enString,
                        headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                    })
                    .success(function(data, status, headers, config) {
                        var appJson = data;
                        console.log(data);
                        if(angular.isArray(appJson))
                        {
                            $scope.appJson = appJson;
                            $scope.currentorgname = orgName;
                            $scope.currentorgguid = orggUID;
                            $scope.currentspacename = spaceName;
                            $scope.currentspaceguid = spacegUID;
                            $scope.namesspace2msg = "";
                        }
                        else
                        {
                            $scope.appJson = "";
                            $scope.namesspace2msg = "No Applications in this Space";
                        }
                    })
                    .error(function(data, status, headers, config) {
                        $scope.errorMsg = data;
                    })
                }

                $scope.listSpaces =  function(orgName,orgUID) {
                    var enString1 = '{"sessionid": '+sessionid+',"Organization": {"Name":"'+orgName+'" ,"Guid":"'+orgUID+'" }}';

                    $http({
                        method: 'POST',
                        url: "http://localhost:8081/listallspaces",
                        data: enString1,
                        headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                    })
                    .success(function(data, status, headers, config) {
                        var spaceJson = data;
                        $scope.spaceJson = spaceJson;
                    })
                    .error(function(data, status, headers, config) {
                        $scope.errorMsg = data;
                    })
                }

                $scope.init();

            }]);
        </script>

    </div>	
</body>

</html>
