<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Open Source web console for Cloud Foundry</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Angular.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js"></script>

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div ng-app="loginApp" ng-controller="LoginController as lgCtrl" class="panel-body">    <div  ng-if="notlogged">
                            <form role="form" ng-submit="lgCtrl.postForm()">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="User Name" type="username" required autofocus ng-model="lgCtrl.inputData.username">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Password" type="password" required ng-model="lgCtrl.inputData.password">
                                    </div>
                                    <div class="alert alert-danger" role="alert" ng-show="errorMsg">
                                        <span ng-bind="errorMsg"></span>
                                    </div>
                                    <button class="btn btn-lg btn-success btn-block" type="submit">Login</button>
                                </fieldset>
                            </form>
                        </div>
                        <div  ng-if="gotodash" class="col-md-3 col-sm-6 hero-feature">
                            <h4>Welcome User! <br/>View Your <a href="/session/afterlogin">Dashboard</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

    <!-- Angular.js -->
    <script>
        angular.module('loginApp', [])
        .controller('LoginController', ['$scope', '$window', '$http', function($scope, $window, $http) {
            
            $scope.notlogged = true;
            $scope.gotodash = false;
            if(angular.isDefined($window.sessionStorage.token))
            {
                $scope.notlogged = false;
                $scope.gotodash = true;
            }

            this.postForm = function() {
                var encodedString = '{"email":"'+this.inputData.username+'","password":"'+this.inputData.password+'"}';
                var uname = this.inputData.username;

                $http({
                    method: 'POST',
                    url: '/session/new',
                    data: encodedString,
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                })
                .success(function(data, status, headers, config) {
                    console.log(data);              
                    var tok = angular.fromJson(data).sessionid;
                    if (tok != null) {
                        $window.sessionStorage.sessionid = tok;
                        $window.sessionStorage.uname = uname ;
                        window.location.href = '/session/dashboard';
                    } else {
                        $scope.errorMsg = "Login not correct";
                    }
                })
                .error(function(data, status, headers, config) {
                    $scope.errorMsg = data;
                })
            }
        }]);

	</script>

</body>

</html>
